/* // src/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inria Sans", sans-serif;
  --color-primary: #05AFC0;  
  --color-primary-dark: #048a97;
  --color-accent: #E4A83C;     
  --color-accent-dark: #b8862e;
  --color-darkbg: #050505;        
}

@variant dark (&:where(.dark, .dark *));


:root {
  --foreground: #171717;
}

.dark {
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  
  background-color: #ffffff;
  background-image: 
    radial-gradient(circle at 10% 20%, rgba(5, 175, 192, 0.15) 0%, transparent 40%),
    radial-gradient(circle at 90% 80%, rgba(5, 175, 192, 0.15) 0%, transparent 40%),
    radial-gradient(circle at 80% 10%, rgba(5, 175, 192, 0.08) 0%, transparent 40%);
    
  background-attachment: fixed;
  background-size: 100% 100%;
}

.dark body {
  background-color: #050505; 
  background-image: 
    radial-gradient(circle at 10% 20%, rgba(228, 168, 60, 0.15) 0%, transparent 40%),
    radial-gradient(circle at 90% 80%, rgba(228, 168, 60, 0.15) 0%, transparent 40%),
    radial-gradient(circle at 80% 10%, rgba(228, 168, 60, 0.08) 0%, transparent 40%);
    
  background-attachment: fixed;
}

.theme-light-image { display: block !important; }
.theme-dark-image { display: none !important; }

:is(.dark) .theme-light-image { display: none !important; }
:is(.dark) .theme-dark-image { display: block !important; }